@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SO Answer - Dropdownlist not working</h1>
    <p class="lead">Answer to a stackoverflow question</p>
    <p><a href="https://stackoverflow.com/questions/44879268/dropdownlist-not-working" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p>@Html.ActionLink("See Solution","Create","Home",new { @class = "btn btn-primary btn-lg" })</p>
</div>

